
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <!-- Logo à esquerda -->
            <a class="navbar-brand logo-container" href="#">
                <i class="bi bi-apple logo-icon"></i>
            </a>
            
            <!-- Título centralizado -->
            <div class="title-container">
                <h1 class="brand-text">Web-FIT</h1>
            </div>
            
            <!-- Elemento vazio para manter o espaço -->
            <div class="spacer"></div>
        </nav>
    </div>
</header>
