*{
    color: #FFFFFF;
}

body{
    background-color: #121212;
}

.container{
    background-color: #121212;
    max-width: 5000px;
}

#navbrand{
    background-color: #121212;
    border-radius: 10px;
    img {
        background-color: #121212;
    }
    padding: 8px;
    color: #121212;
    font-size: 16px;
}

.navbar{
    background-color: #121212;
    font-weight: 500;
}

#navbarNav, li {
    background-color: #121212;
}
