<div class="container">
    <nav class="navbar navbar-expand-lg navbar">

        <a class="navbar-brand" id="navbrand" href="#"><img src="../../../assets/favicon.ico" alt="logo icon"
                width="75px"></a>

        <div class="navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="text-center nav-item mx-4">
                    <a class="nav-link">Web-FIT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
